<h1> <%= "Category: " + @category.name %> </h1>
<div>
  <% if logged_in? and current_user.admin? %>
    <div class="row bottom_margin">
      <span><%= link_to 'Edit Category Name', edit_category_path(@category) %> </span>
    </div>
  <% end %>
  <%= will_paginate @category_articles %>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div>
  <%= will_paginate @category_articles %>
</div>

